@{
    ViewBag.Title = "About Us";
}

<div class="jumbotron background">
    <div class="box">
        <h1>
            <img src="/Img/logo.png" style="width:100px" />
            @ViewBag.Title
        </h1>
        <h3>We're Dedicated To You</h3>
        <p> We're dedicated to providing a platform for caterers to connect with our clients to recieve the best food made with the freshest ingredients.</p>
    </div>
</div>