@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron background">
    <div class="box">
        <h1>Caterer Page</h1>
        <p><a href="./Orders" class="btn btn-primary btn-lg">Access Your Orders &raquo;</a></p>
    </div>
</div>

