@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron background">
    <div class="box">
        <h1>
            <img src="/Img/logo.png" style="width:100px" />
            @ViewBag.Title
        </h1>
        <h3>Get In Touch With Us</h3>
    </div>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>