@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron background">
    <div class="box">
        <h1>
            <img src="/Img/logo.png" style="width:100px" />
            Bytes Before Bites
        </h1>
        <p class="lead ">Our service is dedicated to providing meals with the freshest ingredients.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            We're dedicated to providing a platform for caterers to connect with our clients to recieve the best food made with the freshest ingredients.
        </p>
        <p><a class="btn btn-default" href="./Home/About">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Login</h2>
        <p>Explore our menu today.</p>
        <p><a class="btn btn-default" href="../Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Caterer Login</h2>
        <p>Check up on order status.</p>
        <p><a class="btn btn-default" href="../Account/CatererLogin">Learn more &raquo;</a></p>
    </div>
</div>