@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" type="text/css" href="/Content/food.css">

<div class="jumbotron">
    <h1>
        <img src="/Img/logo.png" style="width:100px" />
        Orders
    </h1>
</div>



<div>
    <div id="dvmenu" style="border:0px solid red">
        <table>
            <tr>
                <th><br />Orders<br /><hr /></th>
            </tr>
            @foreach (var db in Model)
            {
                <tr>
                    <td>
                        @db.FoodItemName<br />
                        | Quantity: @db.Quantity<br />
                        | Price: @db.TotalPrice <br />
                        | Information: @db.Comment <br />
                        <div id="help"></div>
                        <hr />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script src="~/dist/bundle.js"></script>