@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="/Content/food.css">
<div class="title-big">
    <img src="/Img/logo.png" style="width:100px" />
    Bytes Before Bites
</div>

<div>
    <div id="foodorder" style="border:0px solid red">
    </div>
</div>

<script src="~/dist/bundle.js"></script>